@font-face {
    font-family: "Rubik Semi Bold";
    src: url('./fonts/Rubik\ Semi\ Bold_3458.ttf') format("ttf");
  }

@font-face {
    font-family: "Rubik Bold";
    src: url('./fonts/Rubik\ Bold_3459.ttf') format("ttf");
  }

img {
    margin-bottom: 0px;
  }

a {
    cursor: none;
}

html, body {
    height: 100%;
    cursor: none;
    overflow: hidden;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    background-image: url('./img/BG.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    width: 1080px;
    height: 1920px;
    margin: 0;
}

#custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 999;
}

header {
    background-image: url('./img/Theme_Back.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 240px;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    margin: 0;
    color: #FFE946;
    font-size: 64px;
    font-family: "Rubik Semi Bold", sans-serif;
}

h2 {
    color: #ffffff;
    font-size: 80px;
    font-family: "Rubik Bold", sans-serif; 
    margin: 0;
}

.body {
    height: calc(1920px - 150px - 240px);
    background-image: url('./img/Model_Body.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.startlook {
    background-image: url('./img/Look_0.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.makeup {
    background-image: url('./img/MU_Surprised.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 230px;
    width: 210px;
    position: relative;
    z-index: 2;
    bottom: 480px;
}

.selectboxes {
    height: 480px;
    width: 980px;
    position: relative;
    z-index: 3;
    display: flex;
    bottom: 1005px;
    padding: 0 50px;
    justify-content: space-between;
}

.leftbox {
    background-image: url('./img/Card.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 340px;
}

.leftbox:active {
    background-image: url('./img/Card_Active.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 340px;
}

.leftsuit {
    background-image: url('./img/Icon_01.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 340px;
}

.rightbox {
    background-image: url('./img/Card.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 340px;
}

.rightsuit {
    background-image: url('./img/Icon_02.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 340px;
}

.leftbox, .rightbox, .startlook, .makeup {
    transition: background-image 0.5s ease-in-out;
}

.btn {
    display: none;
    height: 200px;
    width: 766px;
    position: relative;
    z-index: 10;
    bottom: 870px;
    left: 162px;
    transition: opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #0056b3;
    border-radius: 100px; 
}

.btn.pressed {
    animation: pressEffect 0.2s ease-in-out;
}

@keyframes pressEffect {
    0% {
        transform: translateY(0);
        opacity: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background-color: #0056b3;
    }
    50% {
        transform: translateY(6px);
        opacity: 0.9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        background-color: #004494;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background-color: #007bff;
    }
}

.btn.show {
    display: block;
    opacity: 1;
}

.heart {
    background-image: url('./img/Heart_vfx.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 142px;
    width: 170px;
    position: relative;
    z-index: 8;
    display: none;
    animation: floatUp 5s ease-out forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(-500px);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 1;
    }
}

footer {
    height: 150px;
    background-image: url('./img/Footer_Back.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.links a {
    display: inline-block;
    transition: transform 0.1s ease;
}

.links a:active {
    transform: scale(0.95);
}

.logo {
    margin-right: 50px;
}

.app {
    margin-right: 22px;
}




